{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link
      rel="shortcut icon"
      href="https://static.vecteezy.com/system/resources/previews/004/413/153/non_2x/outlined-icon-of-group-of-people-doing-discussion-suitable-for-design-element-of-teamwork-discussion-social-networking-and-business-forum-free-vector.jpg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href={%static "main.css"%}>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />


    <title>ulkForum | get informed instantly</title>

    <style>
        .progress {
          height: 5px;
          width: 0%;
          background-color: #fff;
          position: fixed;
          top: 0;
          left: 0;
          animation: progress 1s linear;
          z-index: 20;
        }
        :root * {
          /* Pause the animation */
          animation-play-state: paused;
          /* Bind the animation to scroll */
          animation-delay: calc(var(--scroll) * -1s);
          /* These last 2 properites clean up overshoot weirdness */
          animation-iteration-count: 1;
          animation-fill-mode: both;
        }
        @keyframes progress {
          to {
            background-color: rgb(54, 252, 4);
            width: 100%;
          }
        }
        #scrollToTop {
          position: fixed;
          bottom: 3rem;
          right: 3rem;
          box-shadow: 0 0 14px -5px rgba(0, 0, 0, 0.5);
          border-radius: 100%;
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: -12rem;
          transition: margin-bottom 0.2s;
          cursor: pointer;
        }
        #scrollToTop.active {
          margin-bottom: 0;
        }
        body {
          animation: ease-in-out 2s;
        }
      </style>
       <style>
        .profile-head {
            transform: translateY(5rem)
        }
        
        .cover {
            background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
            background-size: cover;
            background-repeat: no-repeat
        }
        
            </style>
</head>
<body>
        
    <div class="progress"></div>
    {% include '../components/modals.html'%}
    <nav>
        <div class="container">

            <div class="logo-container ">
                <h1 class="logo mt-2">ulk<span>Forum</span></h1>
                <p class="subtitle">get help from the best</p>
            </div>
        {% if request.user.is_authenticated%}
            
        <form class="search_bar" action="/post/search/">
          <i class="uil uil-search"></i>
          <input type="search" placeholder="Search for posts" name="q">
      </form>
        <div class="create">
            <button
              class="btn btn-danger show-modal"
              data-toggle="modal"
              data-target="#myModal3"
            >
              Logout
            </button>
            <div class="profile_picture">
                <img src="{{profile.avatar.url}}" style="height:100%; width:100%;" alt="profile pic">
            </div>
        </div>
        {%else%}
        <div class="create">
            <button class="btn btn-primary show-modal" data-toggle="modal" data-target="#myModal">Login</button>
            <button class="btn btnsecondary show-modal" data-toggle="modal" data-target="#myModal2">
              Register
            </button>
            
        </div>
        {%endif%}
    </div>

    </nav>

    <!--  --------- main content -------- -->
    {% if request.user.is_authenticated %}
    <main>
        <div class="container" style="display: flex;">
            <!-- ----- left side --------- -->
            <div class="left" style="flex-basis: 30%;">
                <!-- sidebar -->
                <div class="sidebar">
                    <a href="/" class="menu-item active">
                        <span><i class="uil uil-home"></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item" href="/explore/">
                        <span><i class="uil uil-compass"></i></span><h3>Explore</h3>
                    </a>
                   
                    <a class="menu-item" href="/chat/">
                        <span><i class="uil uil-envelope-alt"></i></span><h3>Rooms</h3>
                    </a>
                    <a class="menu-item" href="/update_profile/">
                        <span><i class="uil uil-setting"></i></span><h3>Settings</h3>
                    </a>
                    <a class="menu-item" id="theme">
                        <span><i class="uil uil-palette"></i></span><h3>Theme</h3>
                    </a>
                </div>
            </div>

            <!--  middle -->
            <div style="flex-basis:60%;">
                    <!-- story -->
            {% include '../components/messages.html'%} 
                    
            <div class="row  py-5 px-4 mt-0"> 
                <div class="col-sm-12"> 
                <!-- Profile widget --> 
                <div class="bg-white shadow rounded overflow-hidden"> 
                    <div class="px-4 pt-0 pb-4 cover"> 
                        <div class="media align-items-end profile-head"> 
                            <div class="mr-3">
                                <img class=" mb-4   " src="{{profile.avatar.url}}" alt="..." style=" width:50px; height:50px; border-radius:50%;  " >
                                {% if isMyProfile is False %}
                                    {% if amFollowing is False %}
                                        <a href="/profile/{{profile.user.username}}/follow/" class="btn btn-info btn-sm btn-block">Follow</a>
                                    {% else %}
                                        <a href="/profile/{{profile.user.username}}/follow/" class="btn btn-outline-info btn-sm btn-block">UnFollow</a>
                                    {% endif %}
                                {% endif %}
                            </div> 
                            <div class="media-body mb-5 text-white"> 
                                {% if profile.name %}
                                <h4 class="mt-0 mb-0">{{profile.name}}</h4> 
                                {% endif %}
                                <p class="small mb-4"> 
                                    <i class="fas fa-user mr-2"></i>{{profile.user}}</p> 
                                </div> 
                            </div> 
                        </div> 
                        <div class="bg-light p-4 d-flex justify-content-end text-center"> 
                            <ul class="list-inline mb-0"> 
                                <li class="list-inline-item"> 
                                <h5 class="font-weight-bold mb-0 d-block">{{posts.count}}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Post(s)</small> 
                            </li> 
                            {% if isMyProfile is True %}
                            <li class="list-inline-item"> 

                                <h5 class="font-weight-bold mb-0 d-block">{{my_following.count}}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small> 
                            </li> 
                            <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">{{my_followers.count}}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Follower(s)</small> 
                                        </li>
                                        {%else%}
                                        <li class="list-inline-item"> 

                                          <h5 class="font-weight-bold mb-0 d-block">{{my_followers.count}}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small> 
                                      </li> 
                                      <li class="list-inline-item"> 
                                      <h5 class="font-weight-bold mb-0 d-block">{{my_following.count}}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Follower(s)</small> 
                                                  </li>
                                        {%endif%}
                             </ul> </div> <div class="px-4 py-3"> 
                                <h5 class="mb-0">Bio:</h5> 
                                <div class="p-4 rounded shadow-sm bg-light"> 
                                    <p class="font-italic mb-0">{{profile.bio}}</p> 
                                </div> 
                                
                            </div> 
                            <div class="py-4 px-4"> <div class="d-flex align-items-center justify-content-between mb-3"> <h5 class="mb-0">Posts {{posts.count}}</h5> 
                            </div> 
                            {% for post in posts %}
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center"> 
            
                                    <div class="text-muted small ml-3">
                                        <div ><strong class="float-right">{{post.timestamp | naturaltime }}</strong></div>
                                    </div>
                                </div>
                            </div>    
                            <a href="/post/{{post.id}}/" style="color:black;">     
                            <div class="card-body">
                                <p>{{post.post | safe}}</p>
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                <a href="/post/{{post.id}}/like/" class=" mt-2 ml-3 mr-3">
                                    <i class="fas fa-thumbs-up"></i>  Helpful ({{post.likes.count}})
                                </a>
                                <a href="/post/{{post.id}}/dislike/" class=" mt-2 ml-3">
                                    <i class="fas fa-thumbs-down"></i>  Not helpful ({{post.dislikes.count}})
                                </a>
                                <div class=" mt-2 ml-3">
                                    <i class="fas fa-comments"></i>Comment(s) ({{post.comments.count}})
                                </div>

                                <div class="modal fade" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content clearfix">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <div class="modal-body">
                                              <h4>Are you sure you want to Delete Post?</h4>
                                                  <a href="/post/{{post.id}}/delete/" style="background-color: rgb(190, 21, 21);" class="btn btn-danger mt-1 mr-2 text-light">
                                       Delete Post
                                  </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                {% if isMyProfile is True %}
                                <button class="btn btn-danger mt-1 mr-2 text-light show-modal" data-toggle="modal" data-target="#deletePost" type="button" ><i class="fas fa-trash"></i>Delete Post</button>
                               
                                
                                {% endif %}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                        </div> 
                    </div> 
                </div>
            </div>
            
            </div>

         
            
        </div>
    </div>
    </main>
    {%else%}
    <div class="not_logged_in container jumbotron">
        <h2>Welcome to Ulk-Forum!</h2>
        <h5>Feel free to create an account, to start using the site!</h5>
        <p>
          Ulk Forum is a discussion platform designed by Eliezer Nsengi to be
          used by students at ULK to share information and help each other! You
          are just one step ahead of getting started to use the app, click on
          the button below.
        </p>
        <hr />
        <button
          class="btn btn-primary show-modal"
          data-toggle="modal"
          data-target="#myModal2"
        >
          Get Started
        </button>
      </div>
    {%endif%}

    <!-- theme customization -->
    <div class="customize-theme">
        <div class="card">
            <h2>Customize your view</h2>
            <p>Manage your font size, color and background.</p>

            <!--  font sizes -->
            <div class="font-size">
                <h4>Font Size</h4>
                <div>
                    <h6>Aa</h6>
                    <div class="choose-size">
                        <span class="font-size-1     active"></span>
                        <span class="font-size-2"></span>
                        <span class="font-size-3"></span>
                        <span class="font-size-4"></span>
                        <span class="font-size-5"></span>
                    </div>
                    <h3>Aa</h3>
                </div>
            </div>

            <!-- Primary colors  -->

            <div class="color">
                <h4>Color</h4>
                <div class="choose-color">
                    <span class="color-1 active"></span>
                    <span class="color-2"></span>
                    <span class="color-3"></span>
                    <span class="color-4"></span>
                    <span class="color-5"></span>
                </div>
            </div>

            <!--  background color -->
            <div class="background">
                <h4>Background</h4>
                <div class="choose-bg">
                    <div class="bg-1">
                        <span></span>
                        <h5>Light</h5>
                    </div>
                    <div class="bg-2">
                        <span></span>
                        <h5>Dim</h5>
                    </div>
                    <div class="bg-3">
                        <span></span>
                        <h5>Lights Out</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="scrollToTop">
      <i class="fas fa-arrow-up"></i>
    </button>
       <!-- Footer -->
      
    <script src={%static "main.js"%}></script>
    <script>
      window.addEventListener(
        "scroll",
        () => {
          document.body.style.setProperty(
            "--scroll",
            window.pageYOffset /
              (document.body.offsetHeight - window.innerHeight)
          );
        },
        false
      );
      $(window).scroll(function () {
        if (
          $(window).scrollTop() + $(window).height() >
          $(document).height() - 100
        ) {
          $("#scrollToTop").addClass("active");
        } else {
          $("#scrollToTop").removeClass("active");
        }
      });
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>