{% extends '../base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css'%}">
{% endblock %}


{% block title %}
LOGIN
{% endblock %}

{% block content %}

<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method = 'POST' action= '/signup' >
                    {% csrf_token %}
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form method="POST" action="/login">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>

{% endblock %}